{% extends 'football_agency/base.html' %}

{% block content %}
<h2 class="fw-bold display-5">Players</h2>
<a href="{% url 'create_player' %}" class="btn btn-success btn-lg mb-3">Add New Player</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="h5 fw-bold">ID</th>
            <th class="h5 fw-bold">Name</th>
            <th class="h5 fw-bold">Surname</th>
            <th class="h5 fw-bold">Team</th>
            <th class="h5 fw-bold">Photo</th>
            <th class="h5 fw-bold"></th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td class="h5 fw-semibold">{{ player.id }}</td>
            <td class="h5 fw-semibold">{{ player.name }}</td>
            <td class="h5 fw-semibold">{{ player.surname }}</td>
            <td class="h5 fw-semibold">{{ player.id_team.team_name }}</td>
            <td><img src="{{ player.player_image.url }}" alt="{{ player.name }}" width="50"></td>
            <td>
                {% if player.id %}
                    <a href="{% url 'player_detail' player.id %}" class="btn btn-info btn-sm">Подробнее</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
